---
import Drawer from "@bambiui/components/drawer/astro";
---
<Drawer id="drawer-right" side="right" size="sm" closeOnOverlayClick={false} class="token-drawer-content">
  <div class="bambi-drawer-header">
    <h2 class="bambi-drawer-title" id="drawer-right-title">Tokens</h2>
    <p class="bambi-drawer-description" id="drawer-right-desc">Edit the selected preview tokens.</p>
  </div>
  <div class="bambi-drawer-body" id="token-list"></div>
</Drawer>
